# Task 02 - Custom DataFrame Transformation
### Student Name: Pratham Shukla
---
This notebook demonstrates custom transformations using `apply` and summaries using `groupby`.

In [8]:
# Task 2: Custom DataFrame Transformation using apply and groupby
import pandas as pd

In [9]:
# Load dataset
df = pd.read_csv("sales.csv")
print("Original Data:")
df.head()

Original Data:

   SalesID  Quantity   Price  Discount  Revenue
0        1        52  354.14      0.43  9665.46
1        2        93  427.46      0.44  1449.26
2        3        15  184.74      0.29  7571.53
3        4        72  138.08      0.26  3370.39
4        5        61  473.83      0.41  2974.54

In [10]:
# Create a new column 'TotalPrice' = Quantity * Price
df["TotalPrice"] = df["Quantity"] * df["Price"]

In [14]:
# Example of custom function: calculate discounted revenue
def discounted_revenue(row):    
    return row["TotalPrice"] * (1 - row["Discount"])
df["DiscountedRevenue"] = df.apply(discounted_revenue, axis=1)
print("\nData with custom transformation:")
df.head()

Data with custom transformation:

   SalesID  Quantity   Price  Discount  Revenue  TotalPrice  DiscountedRevenue
0        1        52  354.14      0.43  9665.46    18415.28         10496.7096
1        2        93  427.46      0.44  1449.26    39753.78         22262.1168
2        3        15  184.74      0.29  7571.53     2771.10          1967.4810
3        4        72  138.08      0.26  3370.39     9941.76          7356.9024
4        5        61  473.83      0.41  2974.54    28903.63         17053.1417

In [15]:
# Groupby example: Average revenue per quantity group
grouped = df.groupby("Quantity")["DiscountedRevenue"].mean().reset_index()
print("\nGrouped result (Average DiscountedRevenue by Quantity):")
grouped.head()

Grouped result (Average DiscountedRevenue by Quantity):

   Quantity  DiscountedRevenue
0         1         185.243079
1         2         413.118269
2         3         567.250863
3         4         836.768683
4         5        1077.577955

In [13]:
# Save output
df.to_csv("sales_transformed.csv", index=False)
grouped.to_csv("grouped_summary.csv", index=False)